$mainFont:'Poppins',
sans-serif;
$backgroundColorHeader: rgba(86, 184, 135, .06);
$headerDefaultTextColor: #fff;
$headersIconBgColor: rgba(255, 255, 255, 0.1);
$defaultSectiongBgColor: #fff;
$headerSecondaryTextColor: #9baab3;
$primaryTextColor:#000;
$secondaryTextColor: #555;
$statsNumberColor: #9baab3;
$progressBarBgColor: #ebeef2;
$progressBarColor: #56b887;